/* UNIVERSAL */

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

body {
    width: 100%;
    color: #9b9b9b;
    overflow-x: hidden;
    margin: 0 auto;
}
/*
img {
    width: 100%;
}
*/
/* TEXT STYLE */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px;
    transition: font-size 0.25s ease;
}

p {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 23px;
    list-style: none;
}

a {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

/* HEADER */

.photo-hero {
    min-height: 700px;
    background-color: #005c06;
}

.navigation {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 1em;
}

.site-header-left {
    display: inline-block;
}

.site-header-left li {
    line-height: 0;
}

.site-header-right {
    float: right;
}

.site-header-right li {
    display: inline;
}

.site-header-right li a {
    text-decoration: none;
    margin-left: 20px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.container:before,
.container:after {
    content: " ";
    display: table;
    clear: both;
}

.photo-hero-text {
    padding: 0 20px;
}

h1 {
    font-size: calc(100px / 1.5);
    line-height: 0.85;
}

.photo-hero h1 {
    color: #ffffff;
    margin: 1em 0 40px;
}

.photo-hero h1 span {
    color: #41d94b;
}

.photo-hero p {
    font-size: 24px;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 30px;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

.button {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    transition: opacity 0.5s ease;
}

.button:hover {
    opacity: 0.75;
}

.button-primary {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    float: left;
}